<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"></meta>
    <title>MockServer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <!-- <link rel="stylesheet" type="text/css" href="../../../front/libs/semantic-ui/dist/semantic.min.css"> -->
<link rel="shortcut icon" href="/static/favicon.ico"><link href="/static/css/index.0132d4160419c647c1aaeef0e1f538a4.css" rel="stylesheet"></head>
<body>
  <div class="ui left demo vertical inverted sidebar labeled icon menu left-menu">
    <a class="item home">
      <i class="home icon"></i>
      首页
    </a>
    <a class="item project">
      <i class="block layout icon"></i>
      项目管理
    </a>
    <a class="item interface">
      <i class="list layout icon"></i>
      接口管理
    </a>
    <a class="item logout">
      <i class="power icon"></i>
      退出
    </a>
  </div>
  <div class="pusher">
    <div id="app">
        <router-view></router-view>
    </div>
    <div id="loading" class="ui text loading" ontouchstart="return false;">
        <div class="ui active centered inline loader"></div>正在载入...
    </div>
    <!-- Site content !-->
  </div>
<script type="text/javascript" src="/static/js/vendor.468a3f541aea1f8879a2.js"></script><script type="text/javascript" src="/static/js/index.f5de8153b337ef087c38.js"></script></body>
<!-- <script type="text/javascript" src="../../../node_modules/jquery/dist/jquery.js"></script> -->
</html>
